/* #all{
    
} */
h1{
    color: rgb(245, 245, 245) !important;
    font-size: 2.5rem;
    text-shadow:rgb(255, 255, 255) 1px 1px 1px ,black;
}

#rutas {
    display: flex;
    flex-direction: column;
    

}



#container_login{
    display: flex;
    justify-content: center;
    
}
#login{
    width: 24rem;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
}
.login{
    display: flex;
    flex-direction: column;
    color: black;
}
.ForgotPassword{
    width: max-content;
    color: rgb(255, 255, 255);
    border-radius: 3px ;
}

.ForgotPassword:hover{
    background-color: rgb(254, 254, 254);
    color: black;
}
button{
    height: max-content;
    background-color:rgb(255, 255, 255) !important;
    color:black;
    border: none;
    font-size:xx-large;
    border-radius: 0.7rem;
}
button:hover{
    /* transform: scale(1.05); */
    background-color: black;
    border: 1px solid white;

}
button:active{
    transform: scale(0.99);
    background-color:black !important;
    color: white;
}
label{
    color: white;
}
input{
    color: black;
    border-radius: 0.7rem;
    height: 2rem;
}
p, span {
    color: white;
}